---
layout: compress
title: ¿Viajar en bus por Colombia? Mira porqué hacerlo!
description: ¿Has pensando en viajar por Colombia en bus? Aquí te enseñaremos sobre los destinos, tips de viaje y más noticias.
h1: El blog de los viajes en bus por Colombia está en nuestra terminal
---
{% include head.html %}

<body>
  
  {% include header.html %}
  
  <a href="#">{% include boton-up.html %}</a>
  <main class="blog-main wrapper flow">
    <h1>{{page.h1}}</h1>
    <!--------- ARTICULO PRINCIPAL --------->
    <article class="blog-first">
      {% assign post1 = site.posts[0] %}
      {% include img.html hero=post1.hero webpb=post1.webpb webpm=post1.webpm webps=post1.webps %}
      <div>
        <h3>{{ post1.h1 | truncate: 80 }}</h3>
        {{ post1.excerpt | truncate: 180 | markdownify}}
        <a href="{{site.baseurl}}{{ post1.url }}" class="botones boton-verde">Sigue leyendo...</a>
      </div>
    </article>
    <!-------- TODOS LOS ARTICULOS ---------->
    <h2>Viajar en bus por Colombia: destinos y muchos consejos</h2>
    <section class="blog-posts">
      {% for post in site.posts offset: 1 %}
      <article>
        <a href="{{post.url}}" title="{{post.title}}">
          <h3>{{post.h1 | truncate: 56}}</h3>
          <img src="{{site.baseurl}}/img/{{post.webps}}" alt="{{post.alt}}" loading="lazy" width="120">
        </a>
      </article>
      {% endfor %}
      <div class="add">
        {% include add1.html %}
      </div>
    </section>
   
  </main>

  <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C393.62,171.22 289.21,70.56 508.17,104.13 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #9DC5BB;"></path></svg></div>
  <section class="conclusion wrapper">
  <h2>La terminal de transporte es tu guía segura para viajar por Colombia</h2>
  <ul>
    <li>
      <span>01</span>
      <h3>Fuentes confiables</h3>
      <p><span class="destacado">Las páginas web de las terminales de transporte</span> son nuestra fuente directa de información.</p>
    </li>
    <li>
      <span>02</span>
      <h3>Datos actualizados</h3>
      <p>Estamos al tanto de los últimos cambios para que puedas planear tu viaje con la útlima información disponible.</p>
    </li>
    <li>
      <span>03</span>
      <h3><a href="{{'terminales-de-colombia'|relative_url}}">Terminales de Colombia</a></h3>
      <p>Viaja de forma segura y confiable por Colombia contactando directamente con las terminales de transporte de cada región.</p>
    </li>
  </ul>
  <!-- <div>
    <h2>¿Viajas constantemente por Colombia?</h2>
    <p><span class="destacado">Suscríbete a nuestro magazine</span> para recibas consejos sobre cómo viajar con seguridad, tranquilidad y con los mejores tips de los más expertos.<br><a href="#">Suscribirme</a></p>
  </div> -->
  </section>
  {% include footer.html %}

</body>
  <!-- Google Tag Manager -->
  <script defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MKGXVGZ');</script>
    <!-- End Google Tag Manager -->
<!-- Ads -->
<script defer data-ad-client="ca-pub-3100194943394350" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3100194943394350" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script defer src="https://www.googletagmanager.com/gtag/js?id=G-Q9E44PNRNK"></script>
  <script defer>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Q9E44PNRNK');
  </script>

</html>
