---
layout: default
title: Sitio web de la terminal de transporte
description: Estamos haciendo el mejor esfuerzo por brindarte la información más completa sobre la terminal de transporte que tú necesitas en Colombia. Escríbenos
h1: Escribe a tu terminal de transporte
hero: img/blog/alquiler-buses.webp
alt: Fotografía de un bus
---
<main class="contacto wrapper">
  {% include addm3.html %}
  {% include formulario.html %}
  <p>Recuerda que tu información personal brindada se manejará <a href="{{'legal'|relative_url}}">según la política de datos</a> registrada en este sitio web.
  </p>
  {% include addm3.html %}
</main>