---
layout: compress
title: "Información sobre Pasajes: • Precios • Rutas • Empresas"
h1: "Pasajes de las empresas de buses en las terminales de transporte"
description: "¿Necesitas comprar pasajes para viajar en bus? Mira en nuestra sección de Pasajes. Selecciona tu destino y utiliza la opción que más te sirva"
noindex: true
---
{% include head.html %}
<body>
  {% include header.html %}
  <main class="blog-gallery wrapper flow">
    <h2>🎫 Busca información sobre rutas y empresas que te llevarán a tu destino</h2>
    <p>Sólo haz <b>clic en el departamento que necesitas.</b> La página filtrará por ti los pasajes que ofrecen sus pasajes.</p>

    <div class="blog-tags">
      <button data-name="all" class="active">Todos</button>
      {% capture filtered_categories_array %}{% for item in site.pasajes %}{{ item.category }}|{% endfor %}{% endcapture %}
      {% for item in site.pasajes %}
          {% assign filtered_cat = item.category | append: '|' %}
          {% if filtered_categories_array contains filtered_cat %}
          <button data-name="{{ item.category}}">{{ item.category | capitalize }}</button>
          {% endif %}
          {% assign filtered_categories_array = filtered_categories_array | remove: filtered_cat %}
      {% endfor %}
    </div>
    <section class="posts">
    {% capture filtered_categories_array %}{% for item in site.pasajes %}{{ item.category }}|{% endfor %}{% endcapture %}
    {% for item in site.pasajes %}
    {% assign filtered_cat = item.category | append: '|' %}
      {% if filtered_categories_array contains filtered_cat %}
      <div class="post" data-name="{{ item.category }}">
        <h3>Pasajes en {{ item.category | capitalize }}</h3>
        <div class="home_gallery">
          {% for destino in site.pasajes %}
          {% if destino.category contains item.category %}
          <article>
            <img src="{{destino.hero | relative_url }}" alt="{{destino.alt}}" loading="lazy" width="112" height="112">
            <a href="{{ destino.url | relative_url }}"><h4>{{ destino.h1 }}</h4></a>
          </article>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% assign filtered_categories_array = filtered_categories_array | remove: filtered_cat %}
    {% endfor %}
  </section>

</main>
{% include footer.html %}
<a href="#">{% include boton-up.html %}</a>
  

 <script async>
  const filterButtons = document.querySelectorAll(".blog-tags button");
  const filterPosts = document.querySelectorAll(".posts .post");

  const filter = e => {
    filterButtons.forEach(button => button.classList.toggle("active", button === e.target));

    filterPosts.forEach(post => {
      post.classList.toggle("hide", post.dataset.name !== e.target.dataset.name && e.target.dataset.name !== "all");
    });
  };

  filterButtons.forEach(button => button.addEventListener("click", filter));
  </script>
<script src="{{site.baseurl}}/js/search-script.js" type="text/javascript"></script>
<script>
  var sjs = SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/search.json',
    noResultsText: 'No tenemos este texto aún',
    fuzzy: false
  });
</script>
  </body>
</html>