---
layout: default
title: Terminales de transporte terrestre de Colombia
description: La terminal de transporte de cada ciudad Colombiana la estamos incluyendo en esta página 🏪. Viaja 100% seguro de tener toda la información, datos y tiquetes.
h1: 🏪 Encuentra las terminales de transporte en bus para viajar por toda Colombia
permalink: /terminales-de-colombia
noindex: true
---
<main class="empresa_home content">
  {% include addm2.html %}
<section class="posts">
  {% capture filtered_categories_array %}{% for item in site.terminales %}{{ item.category }}|{% endfor %}{% endcapture %}
  {% for item in site.terminales %}
{% assign filtered_cat = item.category | append: '|' %}
  {% if filtered_categories_array contains filtered_cat %}
  <div class="post" data-name="{{ item.category }}">
    <h3>🚏 Terminales en {{ item.category | upcase }}</h3>
    <div class="home_gallery">
      {% for destino in site.terminales %}
      {% if destino.category contains item.category %}
      <article>
        <img src="{{site.baseurl}}/img/{{destino.webps}}" alt="{{destino.alt}}" loading="lazy">
        <div>
          <a href="{{destino.url}}"><h4>{{destino.h1}}</h4></a>
        </div>
      </article>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% assign filtered_categories_array = filtered_categories_array | remove: filtered_cat %}
  {% endfor %}
</section>  
</main>

<section class="conclusion wrapper">
  <h2>La terminal de transporte es tu guía segura para viajar por Colombia</h2>
  <ul>
    <li>
      <span>01</span>
      <h3>Fuentes confiables</h3>
      <p>
        <span class="destacado"
          >Las páginas web de las terminales de transporte</span
        >
        son nuestra fuente directa de información.
      </p>
    </li>
    <li>
      <span>02</span>
      <h3>Datos actualizados</h3>
      <p>
        Estamos al tanto de los últimos cambios para que puedas planear tu viaje
        con la última información disponible.
      </p>
    </li>
    <li>
      <span>03</span>
      <h3><a href="{{'blog'|relative_url}}">Consejo útiles</a> para viajar</h3>
      <p>
        Viaja de forma segura y confiable por las terminales del país siguiendo
        los consejos de nuestro magazine.
      </p>
    </li>
  </ul>
</section>
{% include addm6.html %}
