<div class="ec-stars-wrapper">
	<span href="#" data-value="1" style="color: {{ include.color1 | default: "var(--secundario)" }};">&#9733;</span>
	<span href="#" data-value="2" style="color: {{ include.color2 | default: "var(--secundario)" }};">&#9733;</span>
	<span href="#" data-value="3" style="color: {{ include.color3 | default: "var(--secundario)" }};">&#9733;</span>
	<span href="#" data-value="4" style="color: {{ include.color4 | default: "var(--secundario)" }};">&#9733;</span>
	<span href="#" data-value="5" style="color: {{ include.color5 | default: "var(--secundario)" }};">&#9733;</span>
</div>