<!-- <section class="destinos">
  {% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <div>
    <h3 class="wow bounceInRight" id="{{ category_name}}">{{ category_name | capitalize}}
    </h3>
    {% for post in site.categories[category_name] %}
    <a href="{{site.baseurl}}{{ post.url }}" target="_blank">
      <img src="{{ site.baseurl }}/{{ post.img }}" class="wow flipInY" alt="{{ post.alt }}">
      <h4>{{ post.title }}</h4>
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</section> -->