<footer class="footer">
  <div>
    <p><a href="{{'terminales-de-colombia'|relative_url}}" title="Terminales Colombia">Terminales</a></p>
    <p><a href="{{'legal#privacidad'|relative_url}}" title="Privacidad">Privacidad</a></p>
    <p><a href="{{'contacto'|relative_url}}" title="Contacto">Contacto</a></p>
    <p><a href="{{'pasajes'|relative_url}}" title="Pasajes">Pasajes</a></p>
    <p><a href="{{'pasajes'|relative_url}}">Empresas</a></p>
    <p><a href="{{site.baseurl}}/legal">Términos y condiciones </a></p>
  </div>
  <img src="{{'img/logo-terminal-de-transporte-200px.svg'|relative_url}}" alt="Logo de terminaldetransporte.com" width="64" height="64" loading="lazy">
  <small><b>&copy; TerminaldeTransporte.com - {{ "now" | date:"%Y"}} - Todos los derechos reservados.</b></small>
  <small><b>Las normas y leyes de transporte son reguladas por <a href="https://www.mintransporte.gov.co/" rel="nofollow noopener noreferrer" target="_blank">"El Ministerio de Transporte"</a>.</b></small>
  <small>Página web hecha por <a href="https://juli.com.co">Juli</a></small>
</footer>