<div class="gallery">
    <a href="{{site.baseurl}}/terminal-de-bogota">
        <h3>Terminales de Bogotá</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-bogota-376.webp" alt="Terminal Bogotá">
    </a>
    <a href="{{site.baseurl}}/terminal-de-medellin">
        <h3>Terminales de Medellín</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-medellin-376.webp" alt="Terminal Medellín">
    </a>
    <a href="{{site.baseurl}}/terminal-de-cali">
        <h3>Terminal de Cali</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-cali-376.webp" alt="Terminal Cali">
    </a>
    <a href="{{site.baseurl}}/terminal-de-bucaramanga">
        <h3>Terminal de Bucaramanga</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-bucaramanga-376.webp" alt="Terminal Bucaramanga">
    </a>
    <a href="{{site.baseurl}}/terminal-de-cartagena">
        <h3>Terminal de Cartagena</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-cartagena-376.webp" alt="Terminal Cartagena">
    </a>
 </div>