<div class="gallery">
    <a href="{{site.baseurl}}/terminal-de-bogota">
        <h3>Terminales de Bogotá</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-bogota.avif" alt="Terminal Bogotá" loading="lazy" width="376" height="213">
    </a>
    <a href="{{site.baseurl}}/terminal-de-medellin">
        <h3>Terminales de Medellín</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-medellin.avif" alt="Terminal Medellín" loading="lazy" width="376" height="213">
    </a>
    <a href="{{site.baseurl}}/terminal-de-popayan">
        <h3>Terminal de Popayán</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-popayan.avif" alt="Terminal Popayán" loading="lazy" width="376" height="213">
    </a>
    <a href="{{site.baseurl}}/terminal-de-neiva">
        <h3>Terminal de Neiva</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-neiva.avif" alt="Terminal Neiva" loading="lazy" width="376" height="213">
    </a>
    <a href="{{site.baseurl}}/terminal-de-manizales">
        <h3>Terminal de Manizales</h3>
        <img src="{{site.baseurl}}/img/terminales/terminal-manizales.avif" alt="Terminal Manizales" loading="lazy" width="376" height="213">
    </a>
    <a href="{{'terminales'|relative_url}}" class="botones boton-verde">🚌 Ver más Terminales</a>
 </div>