<div class="gallery">
    <a class="item item-1" href="{{site.baseurl}}/terminal-de-bogota">
        <h3>Terminal Bogotá</h3>
    </a>
    <a class="item item-2" href="{{site.baseurl}}/terminal-de-medellin">
        <h3>Terminal Medellín</h3>
    </a>
    <a class="item item-3" href="{{site.baseurl}}/terminal-de-cali">
        <h3>Terminal Cali</h3>
    </a>
    <a class="item item-4" href="{{site.baseurl}}/terminal-de-bucaramanga">
        <h3>Terminal Bucaramanga</h3>
    </a>
    <a class="item item-5" href="{{site.baseurl}}/terminal-de-cartagena">
        <h3>Terminal Cartagena</h3>
    </a>
 </div>