<header class="home_header wrapper">
  {% include nav.html %}
  <h1>{{page.h1}}</h1>

  <div class="home_gallery">
    {% assign url = page.url %}
    {% case url %}
      {% when "/" %}
        {% for principal in site.data.principales-home %}
        <article>
          <img src="{{site.baseurl}}/img/terminales/{{principal.img}}" alt="{{principal.alt}}" title="{{principal.title}}">
          <div class="flow">
            <a href="{{site.baseurl}}/{{principal.url}}" title="Conoce la {{principal.title}}"><h2>{{principal.title}}</h2></a>
            <p>{{principal.p}}</p>
          </div>
        </article>
        {% endfor %}
        {% include boton.html url="/terminales-de-colombia" title="Terminales Colombianas" texto="🚌 Mira más terminales de buses" %}
      {% when "/pasajes" %}
        {% for pasaje in site.data.pasajes-home %}
        <article>
          <img src="{{site.baseurl}}/img/{{pasaje.img}}" alt="{{pasaje.alt}}" title="{{pasaje.title}}">
          <div>
            <a href="{{pasaje.url|relative_url}}" title="{{pasaje.title}}"><h2>{{pasaje.title}}</h2></a>
            <p>{{pasaje.p}}</p>
          </div>
        </article>
        {% endfor %}
      {% when "/terminales-de-colombia" %}
      <img src="{{'/img/terminales.webp'|relative_url}}" alt="{{page.alt}}" width="360" height="360" title="{{page.title}}">
      <div class="blog-tags">
        <button data-name="all" class="active">Todos</button>
        {% capture filtered_categories_array %}{% for item in site.terminales %}{{ item.category }}|{% endfor %}{% endcapture %}
        {% for item in site.terminales %}
        {% assign filtered_cat = item.category | append: '|' %}
        {% if filtered_categories_array contains filtered_cat %}
        <button data-name="{{ item.category}}">{{ item.category | upcase }}</button>
        {% endif %}
        {% assign filtered_categories_array = filtered_categories_array | remove: filtered_cat %}
        {% endfor %}
      </div>
      {% else %}
      <img src="{{site.baseurl}}/img/{{page.hero}}" alt="{{page.alt}}" width="1280" height="680">
      <div>
        <h2>{{page.description}}</h2>
        {% if page.layout == "terminal" %}
        <a href="#telefonos" title="Teléfonos de {{page.alt}}" class="boton boton-verde">Mira los teléfonos</a>
        {% endif %}
      </div>
    {% endcase %}
  </div>
</header>