{% if page.json-terminal %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "TransitStation",
  "name": "{{ page.title }}",
  "description": "{{ page.description }}",
  "url": "{{ site.url }}{{ page.permalink }}",
  "image": [
    "{{ site.baseurl }}/img/{{ page.jpg }}",
    {% if page.hero %}"{{ site.baseurl }}/img/{{ page.hero }}",{% endif %}
    {% if page.webp1 %}"{{ site.baseurl }}/img/{{ page.webp1 }}",{% endif %}
    {% if page.webp2 %}"{{ site.baseurl }}/img/{{ page.webp2 }}"{% endif %}
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ page.direccion | strip_html | strip_newlines }}",
    "addressLocality": "{{ page.ciudad }}",
    "addressRegion": "{{ page.category | capitalize }}",
    "postalCode": "{{ page.postal }}",
    "addressCountry": "CO"
  },
  "telephone": "{{ page.telefono | strip_html | strip_newlines | split: ' ' | first }}",
  "email": "{{ page.email }}",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "{{ page.telefono | strip_html | strip_newlines | split: ' ' | first }}",
    "contactType": "customer service",
    "availableLanguage": ["Spanish", "English"]
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ page.latitude }}",
    "longitude": "{{ page.longitude }}"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ page.calificacion }}",
    "reviewCount": "{{ page.reviews }}",
    "bestRating": "5",
    "worstRating": "1"
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "00:00",
    "closes": "23:59"
  },
  "amenityFeature": [
    {
      "@type": "LocationFeatureSpecification",
      "name": "Estacionamiento",
      "value": true
    },
    {
      "@type": "LocationFeatureSpecification",
      "name": "Taquillas de venta de boletos",
      "value": true
    },
    {
      "@type": "LocationFeatureSpecification",
      "name": "Sala de espera",
      "value": true
    }
  ],
  "publicAccess": true,
  "smokingAllowed": false,
  "availableService": [
    {
      "@type": "Service",
      "name": "Venta de boletos",
      "description": "Venta de boletos para rutas intermunicipales e interdepartamentales"
    },
    {
      "@type": "Service",
      "name": "Parqueadero de vehículos particulares",
      "description": "Cupo limitado de parqueadero temporal para vehículos de personal de planta y visitantes"
    },
    {
      "@type": "Service",
      "name": "Información turística",
      "description": "Punto de información para turistas y viajeros"
    }
  ],
  "potentialAction": {
    "@type": "ReserveAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ page.contacto }}",
      "actionPlatform": [
        "http://schema.org/DesktopWebPlatform",
        "http://schema.org/MobileWebPlatform"
      ]
    },
    "result": {
      "@type": "Reservation",
      "name": "Reserva de boleto"
    }
  },
  "hasMap": "{{ page.maps }}"
}
</script>
{% endif %}

{% if page.empresas %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {% for empresa in page.empresas %}
    {
      "@type": "ListItem",
      "position": {{ forloop.index }},
      "item": {
        "@type": "LocalBusiness",
        "name": "{{ empresa | first | first }}",
        "telephone": "{{ empresa | first | last | split: ' ' | first }}"
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
{% endif %}

{% if page.json-post %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{page.url|absolute_url}}"
  },
  "headline": "{{page.title}}",
  "alternativeHeadline": "{{page.subtitle}}",
  "image": [
    {
      "@type": "ImageObject",
      "url": "{{site.baseurl}}/img/{{page.jpg}}",
      "height": "600",
      "width": "340"
    },
    {
      "@type": "ImageObject",
      "url": "{{site.baseurl}}/img/{{page.ciudad}}-terminal-1.jpg",
      "height": "800",
      "width": "600"
    }
  ],
  "datePublished": "{{page.date}}",
  "dateModified": "{% if page.lastmod %}{{page.lastmod}}{% else %}{{page.date}}{% endif %}",
  "author": {
    "@type": "Person",
    "name": "{% if page.autor %}{{page.autor}}{% else %}{{site.author}}{% endif %}",
    "url": "{{site.baseurl}}/sobre-nosotros#{{page.autor|slugify}}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{site.name}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{site.baseurl}}/img/logo-terminal-de-transporte-200px.jpg",
      "width": "233",
      "height": "233"
    }
  },
  "description": "{{page.description}}",
  "keywords": "{{page.keywords|join: ', '}}",
  "articleBody": "{{page.content | strip_html | truncate: 200}}",
  "wordCount": "{{page.content | number_of_words}}",
  "inLanguage": "es",
  "locationCreated": {
    "@type": "Place",
    "name": "{{page.ciudad}}, Colombia"
  },
  "potentialAction": [
    {
      "@type": "CommentAction",
      "name": "Comment",
      "target": "{{page.url|absolute_url}}#comentarios"
    },
    {
      "@type": "ShareAction",
      "name": "Share on Facebook",
      "target": "https://www.facebook.com/sharer/sharer.php?u={{page.url|absolute_url|url_encode}}"
    },
    {
      "@type": "ShareAction",
      "name": "Share on Twitter",
      "target": "https://twitter.com/intent/tweet?text={{page.title|url_encode}}&url={{page.url|absolute_url|url_encode}}"
    }
  ]
}
</script>
{% endif %}