/* // Adding 'Contents' headline to the TOC */

#markdown-toc {
  width: 100%;
  border: 2px solid var(--principal);
  border-radius: var(--radius );
  box-shadow: var(--shadow);
  padding: 0.7rem 1rem;
  list-style: decimal;
  display: inline-block;
}

#markdown-toc::before {
  content: "Sobre esta terminal";
  text-transform: capitalize;
  font-weight: 700;
  font-size: var(--sizeH3);
  line-height: 3;
}

#markdown-toc li {
  list-style-type: none;
  list-style-position: inherit;
  margin-bottom: 0.5rem;
}

#markdown-toc li a{
  text-decoration: none;
  color: var(--secundario);
}

.articulo{
  position: relative;
  display: grid;
  gap: 3rem;
  align-items: flex-start;
}

.articulo article {
  display: grid;
  gap: 2rem;
  justify-content: center;
}

.articulo article h2{
  text-align: center;
  text-transform: capitalize;
}

.articulo article img:not(blockquote p img){
  display: block;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  margin: 2rem auto;
}

.articulo article em{
  display: inline-block;
  width: 100%;
}

.articulo article li{
  list-style: inherit;
  list-style: inside;
}

.articulo article iframe{
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  max-width: 100%;
}

.articulo article a{
  color: var(--accion);
  text-decoration-thickness: 3px;
}

.relacionados {
  display: grid;
  gap: 2rem;
}

.relacionados a{
  display: block;
  width: 300px;
  text-decoration: none;
  color: var(--secundario);
}

.relacionados a div img{
  display: inline-block;
  position: relative;
  float: none;
  max-width: 300px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.referencias{
  width: min(90vw, 720px);
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.referencias li{
  list-style: disc;
  list-style-position: inside;
}

.referencias a{
  color: var(--accion);
}

blockquote p {
  position: relative;
  padding: 1.5rem;
  margin: 3rem 0;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTexto);
  font-weight: 700;
  border: 1px solid var(--gris1);
  border-radius: 12px;
  box-shadow: var(--shadow);
}

blockquote p a{
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: right;
}

blockquote p img{
  max-width: 100%;
  box-shadow: none;
  margin: 0;
}