/* // Adding 'Contents' headline to the TOC */

#markdown-toc {
  border: 1px solid var(--complemento1);
  border-radius: var(--radius );
  padding: 0.7rem;
  margin: 1rem 0;
  list-style: decimal;
  display: inline-block;
}

#markdown-toc::before {
  content: "Contenido:";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3;
}

#markdown-toc li {
  list-style: circle;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

#markdown-toc li a{
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--principal);
  color: var(--secundario);
}

.articulo{
  display: grid;
  grid-gap: 1.5rem;
}

.articulo h2{
  text-align: center;
}

.articulo li{
  margin-left: 1.5rem;
  list-style: inherit;
}

.articulo p a:not(.boton),
.referencias li a{
  display: inline-block;
  color: var(--secundario);
  text-decoration: underline;
  text-decoration-color: var(--principal);
  text-decoration-thickness: 3px;
}

.articulo table tr th{
  text-transform: uppercase;
  font-family: var(--fuenteTitulos);
}

.articulo table tr td{
  border: 1px solid var(--complemento1);
  padding: 0.5rem;
}

.articulo table tr td a{
  display: block;
  margin: 0.5rem auto;
  font-size: 0.9rem;
}

.boton {
  width: fit-content;
  transition: all .2s ease-in-out;
  background: var(--secundario);
  border-radius: var(--radius);
  text-align: center;
  text-decoration: none;
  color: var(--blanco);
  padding: 0.5rem 0.7rem;
  box-shadow: var(--shadow),
    0 0 0 1px var(--blanco),
    0 0 0 2px var(--secundario);
}

.boton:hover {
  transform: scale(1.1);
}

.relacionados{
  position: relative;
}

.relacionados div{
  width: 320px;
}

.relacionados a{
  display: block;
}