.boton-up {
  position: fixed;
  right: 16px;
  bottom: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--principal);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: all 300ms ease-in;
  z-index: 5;
}
.boton-up:hover {
  transform: scale(1.1);
}
