/* Buscador */

#search-container {
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: column;
  color: var(--accion);
}

#search-container input {
  border-color: var(--principal);
  transition: 0.1s ease-in-out;
}

#search-container input:focus {
  border-color: var(--accion);
  border: none;
}

#search-container h2 {
  text-align: center;
  color: var(--grisFuentes);
  margin-bottom: 1rem;
}

#results-container div{
  margin: 1rem 0;
}

#results-container div h3 {
  font-family: var(--fuenteTitulos);
  color: var(--secundario);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--principal);
  text-decoration-color: var(--principal);
  text-decoration-thickness: 0.2rem;
}

#results-container div a {
  font-family: var(--fuenteTexto);
  color: var(--principal);
  text-decoration: none;
}