.buscador{
  background-color: var(--complemento2);
  box-shadow: 0 0 0 100vmax var(--complemento2);
  clip-path: inset(0 -100vmax);
}

.buscador div{
  display: grid;
  place-items: center;
}

.buscador input{
  border: none;
}

.buscador div input,
.buscador div ul{
  width: min(100%, 720px);
  height: min-content;
}

.buscador div ul{
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.buscador div ul a{
  text-align: left;
  text-decoration-color: var(--secundario);
}

.buscador div h3 {
  color: var(--secundario);
  margin: 0;
  text-align: center;
}