.destinos {
  display: grid;
  grid-gap: 5em;
}

.destinos div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 40vw));
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.destinos div h3 {
  position: relative;
  margin: 0;
  font-weight: 800;
  text-transform: capitalize;
  grid-column: span 2;
  font-size: 1.7rem;
  color: var(--accion);
  text-align: center;
}

.destinos>h2 {
  text-align: center;
}

.destinos div>a {
  position: relative;
  display: inline-block;
  transition: all .2s ease-in-out;
}

.destinos div>a:hover {
  transform: scale(1.1);
}

.destinos div a h4 {
  color: var(--blanco);
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-weight: 700;
  font-family: var(--fuenteTexto);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--principal);
  text-decoration-color: var(--principal);
  text-decoration-thickness: 0.2rem;
  transition: 0.5s;
}

.destinos div a img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.nota {
  max-width: 70vw;
  margin: 0 auto 3rem;
  text-align: center;
  font-size: 1.2rem;
}

.nota a {
  font-family: var(--fuenteTitulos);
  color: var(--secundario);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--principal);
  text-decoration-color: var(--principal);
  text-decoration-thickness: 0.2rem;
}

@media screen and (min-width: 600px) {

  .destinos div {
    grid-template-columns: repeat(auto-fill, minmax(auto, 25vw));
    grid-gap: 2rem;
  }

  .destinos div h3 {
    grid-column: span 3;
  }

  .destinos div h3 .destinos-background {
    bottom: calc(100% - 60%);
  }

}

@media screen and (min-width: 992px) {

  .destinos div {
    width: 70vw;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(auto, 12vw));
    grid-gap: 2em;
  }

  .destinos div h3 {
    grid-column: span 4;
  }

  .destinos div h3 .destinos-background {
    max-width: 120%;
  }

  .destinos div a h4 {
    text-shadow: -1px -1px 1px var(--gris1),
      2px 2px 1px var(--gris3);
  }

  .nota {
    max-width: 50vw;
  }
}

@media screen and (min-width: 1200px) {
  .destinos div {
    width: 60vw;
  }
}