footer {
  display: grid;
  gap: 2rem;
}

footer a{
  color: var(--principal);
  transition: all .12s ease-out;
}

footer a:hover{
  transform: scale(1.05);
}

footer h4{
  margin-bottom: 1rem;
}

footer section{
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer div{
  display: grid;
}

footer div img{
  align-self: center;
  justify-self: center;
}

footer section > p{
  font-size: 16px;
}