footer {
  display: grid;
  gap: 2rem;
  place-items: center;
  font-size: 0.8rem;
  padding: 0 16px 2rem;
}

footer a{
  color: var(--principal);
  transition: all .12s ease-out;
}

footer a:hover{
  transform: scale(1.05);
}

footer h4{
  margin-bottom: 1rem;
}

footer section{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

footer div{
  display: grid;
  gap: .6rem;
}

footer div img{
  align-self: center;
  justify-self: center;
}

footer section > p{
  font-size: .7rem;
}