/**** Header ****/
header {
  width: min(90vw, 920px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  gap: 2rem;
  margin: 0 auto;
  line-height: 1;
}

header h1{
  text-align: center;
  width: min(90vw, 520px);
}

header img{
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  max-width: 320px;
}
