nav {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  width: min(calc(100% - 20px), 1260px);
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  background-color: var(--bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  z-index: 100;
}

nav a{
  height: min-content;
  flex: 0 1 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all .4s ease;
}

nav a:hover{
  transform: scale(1.10);
}

nav span{
  display: none;
}

.buscador:target{
  display: grid;
}

.cerrar:target .buscador{
  display: none;
}

.home_header{
  margin-top: 4em;
  display: grid;
  gap: 1em;
}

.home_gallery{
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
}

.home_gallery article{
  display: flex;
  gap: 16px;
  align-items: center;
}

.home_gallery article img{
  width: 112px;
  height: 112px;
  border-radius: var(--radius);
  object-fit: cover;
}

.home_gallery article div p{
  line-height: 1.2;
  font-size: 18px;
}

.home_gallery .boton{
  grid-column: 1 / -1;
}

.home_gallery img{
  z-index: 3;
  object-fit: cover;
}