.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.gallery a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  text-align: center;
  border: 1.5px solid var(--gris1);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.gallery a img{
  border-radius: 0 0 12px 12px;
}

.gallery a h3{
  font-family: var(--fuenteTexto);
  margin: 0;
  padding: 4px;
}

.tiquetes{
  position: relative;
  background-color: var(--secundario);
  box-shadow: 0 0 0 100vmax var(--secundario);
  clip-path: inset(0 -100vmax);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 4rem 16px;
  color: white;
  overflow: visible;
}

.tiquetes div{
  display: grid;
  place-items: center;
  width: min(100%, 520px);
}

.tiquetes div img{
  border-radius: 16px 30%;
  box-shadow: var(--shadow);
  max-width: 100%;
  aspect-ratio: 1/1;
}

.tiquetes div h2{
  align-self: flex-end;
}

.tiquetes div ul{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.tiquetes div ul li{
  flex: 1 0 120px;
  background-color: var(--complemento1);
  display: grid;
  padding: .7rem;
  border-radius: 12px;
  box-shadow: var(--shadow);
  color: var(--grisFuentes);
  place-content: center;
}

.tiquetes div ul li span{
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--fuenteGraficas);
}


.blog-intro{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.blog-intro h3{
  width: 100%
}

.blog-intro article{
  display: flex;
  flex-direction: column;
  max-width: 360px;
  text-align: center;
  border: 1.5px solid var(--gris1);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
}

.blog-intro article h4{
  margin: 0;
  padding: 8px;
}

.blog-intro article img{
  max-width: 100%;
}

.conclusion{
  background-color: var(--complemento1);
  box-shadow: 0 0 0 100vmax var(--complemento1);
  clip-path: inset(0 -100vmax);
}

.conclusion h2{
  max-width: 920px;
}

.conclusion ul{
  background-color: var(--complemento2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 2rem 0 4rem;
  border-radius: var(--radius);
}

.conclusion ul li{
  padding: .5rem;
}

.conclusion ul li:not(li:last-child){
  border-right: 1px solid var(--gris2);
}

.conclusion ul li span:not(p span){
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--fuenteGraficas);
}

.conclusion ul li p,
.conclusion div:last-child p{
  font-weight: 300;
}

.conclusion ul li a{
  color: var(--principal);
}

.conclusion div:last-child{
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.conclusion div:last-child h2{
margin: 0;
}
