.parallax {
  position: relative;
  height: 35vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.testimonio1 {
  background-image: url('../img/testimonios/testimonio1b-vertical.webp');
}

.testimonio2 {
  background-image: url('../img/testimonios/testimonio2b-vertical.webp');
}

.testimonio3 {
  background-image: url('../img/testimonios/testimonio3b-vertical.webp');
}

.testimonio1,
.testimonio2,
.testimonio3 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}


.parallax img {
  max-height: calc(100% - 25%);
}

.parallax q {
  color: var(--blanco);
  font-family: var(--fuenteTexto);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--principal);
  text-decoration-thickness: 0.2rem;
  max-width: 50vw;
}

@media screen and (min-width: 599px) {
  .parallax q {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 992px) {
  .parallax {
    height: 50vh;
  }
  .parallax q {
    font-size: 2em;
  }

  .testimonio1 {
    background-image: url('../img/testimonios/testimonio1b.webp');
  }

  .testimonio2 {
    background-image: url('../img/testimonios/testimonio2b.webp');
  }

  .testimonio3 {
    background-image: url('../img/testimonios/testimonio3b.webp');
  }

  .testimonio1,
  .testimonio2,
  .testimonio3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
  }
}