.categorias {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.categorias div {
  width: min(100%, 1024px);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.categorias div a {
  text-transform: capitalize;
  width: min(40%, 180px);
  margin: 0;
}

.terminales-intro {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.terminales-intro img{
  width: min(100%, 720px);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.terminales-intro a{
  color: var(--accion);
}

.terminales-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-content: center;
  justify-items: center;
}

.terminales-section .terminales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.terminales-section div h3 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.terminales-section .terminal {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  overflow: hidden;
  transition: all .3s ease-out;
  border-radius: var(--radius);
}

.terminales-section .terminal:hover{
  box-shadow: var(--shadow);
}

.terminales-section .terminal:hover img{
  transform: scale(1.05);
}

.terminales-section .terminal article img {
  width: 100%;
  transition: all 0.2s ease-in;
  object-fit: cover;
}

.terminales-section .terminal article h4 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: .5rem .7rem;
  background-color: rgba(255, 254, 246, .7);
  color: var(--accion);
  text-decoration: none;
  font-weight: 700;
  overflow: hidden;
  font-size: 1rem;
}