.categorias {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.categorias div {
  width: min(100%, 920px);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.categorias div a {
  text-transform: capitalize;
  width: min(40%, 180px);
  margin: 0;
}

.terminales-intro {
  display: grid;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.terminales-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-content: center;
  justify-items: center;
}

.terminales-section section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.terminales-section section h3 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.terminales-section section div a {
  position: relative;
  display: inline-block;
  width: 300px;
  overflow: hidden;
  transition: all .3s ease-out;
}

.terminales-section section div a:hover{
  box-shadow: var(--shadow);
}

.terminales-section section a article img {
  max-width: 100%;
  transition: all 0.2s ease-in;
  object-fit: cover;
}

.terminales-section section a article img:hover{
  transform: scale(1.05);
}

.terminales-section section a article h4 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  padding: .5rem .7rem;
  background-color: rgba(255, 254, 246, .7);
  color: var(--accion);
  text-decoration: none;
  font-weight: 700;
  overflow: hidden;
  font-size: 1rem;
}