@media screen and (min-width:600px) {
  .articulo article img{
    display: block;
    float: left;
    margin: 0 1.5rem 1rem 0;
  }
}
  @media screen and (min-width:767px) {
  nav {
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    padding: 1vh 2rem
  }

  .logo {
    justify-self: flex-start
  }

  .boton-up {
    bottom: 15px
  }

}

@media screen and (min-width:1024px) {
  .logo h2 {
    display: inline-block;
    align-self: center
  }

  header{
    flex-direction: row-reverse;
    text-transform: uppercase;
  }

  .articulo{
    grid-template-columns: 2fr 1fr;
  }

  footer div {
    grid-column: span 2;
    text-align: center
  }

  footer img{
    justify-self: right;
  }
}