@media screen and (min-width: 767px) {

  header,
  main,
  section,
  footer {
    width: 720px;
  }

  header {
    width: 70vw;
  }

  #search-container {
    width: 40vw;
  }

  .terminales-section{
    grid-template-columns: 1fr 1fr;
  }

  .terminales-section article a{
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  footer div {
    margin-top: 3rem;
    width: 300px;
  }

  footer li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    -webkit-text-decoration-color: var(--principal);
            text-decoration-color: var(--principal);
  }
}
