.servicios {
  color: var(--accion);
  padding: 0;
}

.servicios p {
  font-family: var(--fuenteTexto);
}

.servicios h2 {
  text-align: center;
  margin: 2rem;
  font-weight: 800;
}

.servicios h2 span {
  text-decoration: underline;
  text-decoration-color: var(--principal);
  text-decoration-thickness: 0.2rem;
}

.servicios ul {
  display: grid;
  margin: 0;
  padding: 0;
}

.servicios li {
  position: relative;
  padding: 2rem;
  margin: 1rem 3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(16, 29, 15, 0.3);
}

.servicios li h3 {
  font-family: var(--fuenteTitulos);
  color: var(--accion);
  font-size: 2em;
  margin: 0;
}

.servicios li svg {
  position: absolute;
  top: calc(100% - 60%);
  right: 0;
  height: 60%;
  overflow: hidden;
  z-index: -1;
  max-width: 100%;
}

.servicios li:nth-child(1),
.servicios li:nth-child(3) {
  background-color: var(--accion);
  z-index: -2;
  color: var(--blanco);
}

.servicios li:nth-child(1) h3,
.servicios li:nth-child(3) h3 {
  color: var(--blanco);
}

@media screen and (min-width: 600px) {
  .servicios h2{
    margin: 3rem;
  }
}
  @media screen and (min-width: 767px) {
  .servicios ul {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    padding: 3rem;
  }

  .servicios li{
    margin: 0;
  }

  .servicios li:nth-child(1),
  .servicios li:nth-child(4) {
    background-color: var(--accion);
    z-index: -2;
  }

  .servicios li:nth-child(4) h3,
  .servicios li:nth-child(4) {
    color: var(--blanco);
  }

  .servicios li:nth-child(3),
  .servicios li:nth-child(3) h3 {
    background-color: var(--blanco);
    color: var(--accion);
  }

}

@media screen and (min-width: 992px) {
  .servicios h2 {
    margin: 3rem;
  }

  .servicios ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .servicios li:nth-child(1),
  .servicios li:nth-child(3) {
    background-color: var(--accion);
    color: var(--blanco);
    z-index: -2;
  }

  .servicios li:nth-child(1) h3,
  .servicios li:nth-child(3) h3{
    color: var(--blanco);
    background-color: var(--accion);
  }

  .servicios li:nth-child(4),
  .servicios li:nth-child(4) h3 {
    color: var(--accion);
    background-color: var(--blanco);
  }
}