:root {

  /*** COLORES ***/
  --principal: #ffed05;
  --accion: #e81118;
  --secundario: #018a31;
  --complemento1: rgb(248, 94, 0);
  --complemento2: #848484;

  --gris1: rgba(191, 191, 191, 1);
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);
  --grisFuentes: #252323;

  --blanco: #fff;

  /*** FUENTES ***/
  --fuenteTexto: 'Sarala', sans-serif;
  --fuenteTitulos: 'Trykker', serif;
  --fuenteGraficas: 'Trirong', serif;
  --sizeH1: clamp(32px, (2.2rem + 1vw) * 1.8, 2.4rem);
  --sizeH2: clamp(28px, (1.8rem + 1vw) * 1.4, 2rem);
  --sizeH3: clamp(24px, (1.4rem + 1vw) * 1.2, 1.5rem);
  --sizeTexto: clamp(18px, (1rem + 1vw) * 1.1, 1rem);

  /* BORDERS */
  --radius: 12px;

  /* SOMBRA */
  --shadow: 0 2px 8px rgba(22, 22, 22, .3);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTexto);
  color: var(--grisFuentes);
}

h1,
h2,
h3 {
  font-family: var(--fuenteTitulos);
}

h1 {
  font-size: var(--sizeH1);
}

h2 {
  font-size: var(--sizeH2);
}

h3 {
  font-size: var(--sizeH3);
}

p {
  word-wrap: break-word;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

input {
  border: inset;
  padding: .7rem;
  border-radius: var(--radius);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius: var(--radius);
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

li {
  list-style: none;
}

.boton {
  display: grid;
  place-content: center;
  background: var(--secundario);
  border-radius: var(--radius);
  text-align: center;
  text-decoration: none;
  color: var(--blanco);
  padding: 0.5rem 0.7rem;
  margin: 0 1rem 1rem 0;
  box-shadow: var(--shadow),
    0 0 0 1px var(--blanco),
    0 0 0 2px var(--secundario);
  transition: all .2s ease-in-out;
}

.boton:hover {
  transform: scale(1.1);
}

.categorias,
.terminales-intro,
.articulo,
.contacto {
  width: min(90vw, 1024px);
  margin: 0 auto 5rem;
}

.categorias p,
.terminales-intro p{
  align-self: center;
  text-align: center;
  max-width: 720px;
}
