:root {
  --principal: #008a30;
  --accion: #fff677;
  --secundario: #f08700;
  --complemento2: #d3ffe3;
  --complemento1: #f0f8f8;
  --bg: hsla(0, 0%, 82.7%, 0.96);
  --gris: #f0f0f0;
  --grisFuentes: #111413;
  --fuente: "Lato", sans-serif;
  --radius: 12px;
  --shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.32);
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 8em;
}
body {
  color: var(--grisFuentes);
  font-family: var(--fuente);
  background-color: #fefefe;
}
h1,
h2,
h3,
h4 {
  text-transform: none;
  line-height: 1.2;
  max-width: 560px;
}
h1 {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
  margin: 0 0 32px;
  font-weight: 900;
}
h2 {
  font-size: clamp(1.5rem, 1.357rem + 0.71vw, 2rem);
}
h3 {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
}
h4 {
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
}
a,
blockquote,
li,
p {
  word-wrap: break-word;
  font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem);
}
a {
  text-decoration-thickness: 3.2px;
  color: var(--principal);
  font-weight: 700;
  transition: all 0.75s ease-out;
}
a:hover {
  transform: scale(1.015);
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.75),
    transparent
  );
  margin: 2em 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: 900;
  background-color: rgba(255, 246, 119, 0.4470588235294118);
  padding: 2px 6px;
  border-radius: 8px;
}
small {
  font-size: 80%;
}
blockquote {
  background: var(--complemento1);
  border-radius: var(--radius);
  border: 2px solid var(--principal);
  padding: 1em;
  display: grid;
  gap: 1em;
}
img {
  border-style: none;
  max-width: 100%;
}
input {
  border: inset;
  padding: 0.7rem;
  border-radius: var(--radius);
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius: var(--radius);
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
ul li {
  margin-left: 2em;
}
ol {
  margin-top: 1em;
}
ol li {
  list-style: decimal;
  margin-left: 2em;
}
ol li::marker {
  padding: 4px;
  font-size: 2em;
  font-weight: bolder;
  color: var(--secundario);
  vertical-align: middle;
}
table {
  width: 100%;
  margin: 2em 0 4em;
}
table tr {
  border-bottom: 2px dotted var(--principal);
  display: flex;
  padding: 1.2em;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}
table tr:nth-child(2n) {
  background-color: var(--gris);
}
table th {
  font-weight: 900;
}
table td,
table th {
  flex: 1 0 200px;
  width: min(100%, 360px);
}
.wrapper {
  padding: 4rem 0;
}
.content,
.wrapper {
  width: min(calc(100% - 1.5em), 1128px);
  margin-inline: auto;
}
.flow > * + :not(h1) {
  margin-top: 1.2em;
}
.title {
  text-align: center;
}
.destacado {
  background-image: url(/img/underline-text-img.png);
}
.svg-icon {
  width: 1em;
  height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--principal);
}
.svg-icon circle {
  stroke: var(--principal);
  stroke-width: 1;
}
.add {
  margin-top: 1rem;
  max-width: 80%;
  margin-inline: auto;
  min-height: 280px;
  padding: 1rem;
}
.boton {
  display: inline-block;
  border-radius: var(--radius);
  text-decoration: none;
  padding: 16px 24px;
  width: min(100%, 360px);
  text-align: center;
  font-weight: 700;
  box-shadow: var(--shadow);
  transition: all 0.4s ease-in;
  margin: 1rem auto;
  cursor: pointer;
}
.boton-verde {
  color: #fff !important;
  background-color: var(--principal);
}
.boton-amarillo {
  color: var(--grisFuentes);
  background-color: var(--accion);
}
.boton-amarillo:active,
.boton-verde:active {
  box-shadow: none;
}
.cta {
  width: min((100% - 2rem), 1200px);
  border-radius: 32px;
  background: var(--complemento1);
  padding: 3em;
  display: grid;
  place-items: center;
  gap: 1em;
  margin: 4em auto 0;
  border: 2px solid var(--principal);
}
.cta p {
  width: min(80%, 920px);
  text-align: center;
}
.cta div {
  width: min(80%, 800px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  line-height: 1;
}
.seccion {
  background-color: var(--gris);
  box-shadow: 0 0 0 100vmax var(--gris);
  clip-path: inset(0 -100vmax);
  padding: 2em 0;
}
