---
layout: compress
---
{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7KJP4PH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include header.html %}
<div class="terminal">
  {% include addm5.html %}
</div>
<article class="post-content">
  
  {{ content }}
  
  {% include add1.html %}
</article>

<div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C393.62,171.22 289.21,70.56 508.17,104.13 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: var(--complemento1);"></path></svg></div>
<section class="conclusion wrapper">
  <div>
    <h2>¿Te gustaría obtener la mejor guía de viajes por Colombia?</h2>
    <p>Planea tus próximos viajes y <span class="destacado">disfrútalos seguro y tranquilo</span>. Haz clic en el enlace para comprarla: <a href="https://go.hotmart.com/M80153395U" class="botones boton-amarillo">"Guía Turística de Colombia"</a></p>
  </div>
</section>
{% include footer.html %}
<a href="#">{% include boton-up.html %}</a>
