---
layout: default
---
<main class="wrapper flow articulo">
  <blockquote>{{page.intro}}</blockquote>
  {% include addm3.html %}
  {{content}}
  {% include addm1.html %}
</main>
{% include kayak.html %}

{% if page.empresas %}
<section class="wrapper" id="telefonos">
  <h2>{{page.subtitle}}</h2>
  <hr>
  <div class="telefonos">
    <table>
      <thead>
        <td>🚌 EMPRESA DE BUSES</td>
        <td>☎ TELÉFONO</td>
      </thead>
      <tbody>
        {% for empresa in page.empresas %}
        <tr>
          {% for data in empresa %}
          <td><strong>{{data[0]}}</strong></td>
          <td>{{data[1]}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include addm4.html %}
</section>
{% endif %}

<div style="height: 150px; overflow: hidden">
  <svg preserveAspectRatio="none" style="height:100%;width:100%;background-color:#fff" viewBox="0 0 500 150"><path d="M0 49.98c393.62 121.24 289.21 20.58 508.17 54.15L500 150H0Z" style="stroke:none;fill:var(--complemento1)"></svg>
</div>
<section class="conclusion wrapper">
  <h2>{{page.title}}</h2>
  {% include addm1.html %}
  <ul>
    <li>
      <span>01</span>
      <h3>Contacto de la terminal</h3>
      <p>
        <span class="destacado">Para escribir o enviar comentarios</span>
        utiliza su
        <a
          href="{{page.contacto}}"
          rel="nofollow noopener noreferrer"
          target="_blank"
          title="Página oficial"
          >página de contacto.</a>
      </p>
    </li>
    <li>
      <span>02</span>
      <h3>Calificaciones</h3>
      <p>
        Conoce las
        <a
          href="{{page.maps}}"
          rel="nofollow noopener noreferrer"
          target="_blank"
          title="Opiniones de la terminal"
          >opiniones de los usuarios</a> sobre {{page.h1|downcase}}.
      </p>
    </li>
    <li>
      <span>03</span>
      <h3>Consejos para viajar</h3>
      <p>
        <a href="{{'blog'|relative_url}}" title="Blog">Aprende con nosotros</a> a viajar de forma segura y confiable por las terminales del país.
      </p>
    </li>
  </ul>
</section>

<a href="#">{% include boton-up.html %}</a>

{% include footer.html %}
