---
layout: default
---

{% if page.h2_1 %}
<section class="terminal_content">
  <div>{% include add1.html %}</div>
  <a href="#datos" class="botones boton-verde">Datos de contacto</a>
  <div class="terminal_intro">
    <p class="destacado">{{page.description}}</p>
  </div>
  <div class="terminal_empresas">
    <div>
      <h2>{{page.h2_2}}</h2>
      <span class="destacado">Empresas de la terminal</span>
    </div>
    <article>
      <img
        src="{{site.baseurl}}/img/{{page.empresa_img_1}}"
        alt="{{page.empresa1}}"
        loading="lazy"
        width="400"
      />
      <h3>{{page.empresa1}}</h3>
      <a href="{{page.url}}/{{page.pdf}}" title="Teléfono {{page.empresa1}}"
        ><strong>Teléfono - {{page.empresa1_telf}}</strong></a
      >
    </article>
    <article>
      <img
        src="{{site.baseurl}}/img/{{page.empresa_img_2}}"
        alt="{{page.empresa2}}"
        loading="lazy"
        width="400"
      />
      <h3>{{page.empresa2}}</h3>
      <a href="{{page.url}}/{{page.pdf}}" title="Teléfono {{page.empresa2}}"
        ><strong>Teléfono - {{page.empresa2_telf}}</strong></a
      >
    </article>
    <article>
      <img
        src="{{site.baseurl}}/img/{{page.empresa_img_3}}"
        alt="{{page.empresa3}}"
        loading="lazy"
        width="400"
      />
      <h3>{{page.empresa3}}</h3>
      <a href="{{page.url}}/{{page.pdf}}" title="Teléfono {{page.empresa3}}"
        ><strong>Teléfono - {{page.empresa3_telf}}</strong></a
      >
    </article>
    <div class="terminal_telefonos">
      <h4>
        ¿Necesitas los teléfonos de las empresas de {{page.h1 | downcase}}?
      </h4>
      <ul>
        <li>
          <span>1</span>Haz clic en el botón <strong>"Ver más empresas"</strong>
        </li>
        <li><span>2</span>Busca la empresa que necesitas</li>
        <li><span>3</span>Marca el número de la empresa</li>
        <li>
          <span>4</span>Baja al final y <strong>descarga el PDF</strong> con
          todos los números
        </li>
      </ul>
      <a
        href="{{page.url}}/{{page.pdf}}"
        title="Teléfonos de las empresas de transporte en {{page.title}}"
        >Ver más empresas</a
      >
    </div>
  </div>
</section>
{% endif %}
<main class="terminal" id="datos">
  <section class="terminal_datos">
    <div>
      <h2>{{page.h2_1}}</h2>
      <p>{{page.p_1}}</p>
      <ul>
        {% if page.telefono %}
        <li>
          <h4>Teléfono:</h4>
          <a
            href="tel:{{page.telefono}}"
            rel="nofollow noopener noreferrer"
            target="_blank"
            >{{page.telefono}}</a
          >
          {% if page.telefono2 %}
          <a
            href="tel:{{page.telefono2}}"
            rel="nofollow noopener noreferrer"
            target="_blank"
            >{{page.telefono2}}</a
          >
          {% endif %}
        </li>
        {% endif %} {% if page.direccion %}
        <li>
          <h4>Dirección:</h4>
          <a
            href="{{page.maps}}"
            rel="nofollow noopener noreferrer"
            target="_blank"
            >{{page.direccion}}</a
          >
        </li>
        {% endif %} {% if page.email %}
        <li>
          <h4>Email</h4>
          <a
            href="mailto:{{page.email}}"
            rel="nofollow noopener noreferrer"
            target="_blank"
            >{{page.email}}</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
    <img
      srcset="
        {{site.baseurl}}/img/{{page.webp2}} 376w,
        {{site.baseurl}}/img/{{page.webp1}} 600w
      "
      src="{{site.baseurl}}/img/{{page.webp1}}"
      alt="Foto {{page.h1}}"
      loading="lazy"
    />
  </section>
</main>

<section class="terminal-info">
  <div>
    {% include add2.html %}
    {{content}}
  </div>
</section>

<div style="height: 150px; overflow: hidden">
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%; background-color: #fff"
  >
    <path
      d="M0.00,49.98 C393.62,171.22 289.21,70.56 508.17,104.13 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #9dc5bb"
    ></path>
  </svg>
</div>
<section class="conclusion">
  <h2>{{page.title}}</h2>
  {% include add1.html %}
  <ul>
    <li>
      <span>01</span>
      <h3>Contacto de la terminal</h3>
      <p>
        <span class="destacado">Para escribir o enviar comentarios</span>
        utiliza su
        <a
          href="{{page.contacto}}"
          rel="nofollow noopener noreferrer"
          target="_blank"
          >página de contacto.</a
        >
      </p>
    </li>
    <li>
      <span>02</span>
      <h3>Calificaciones</h3>
      <p>
        Conoce las
        <a
          href="https://goo.gl/maps/w4Q9s4cxd3FJgz639"
          rel="nofollow noopener noreferrer"
          target="_blank"
          >opiniones de los usuarios</a
        >
        sobre {{page.h1|downcase}}.
      </p>
    </li>
    <li>
      <span>03</span>
      <h3>Consejos para viajar</h3>
      <p>
        <a href="{{'blog'|relative_url}}">Aprende con nosotros</a> a viajar de
        forma segura y confiable por las terminales del país.
      </p>
    </li>
  </ul>
  <div>
    <h3>
      ¿Necesitas guía para llegar hasta {{page.h1}}? Haz clic en el cuadrito
      blanco del mapa
    </h3>
    {{page.iframe}}
  </div>
</section>

<a href="#">{% include boton-up.html %}</a>

{% include footer.html %}
