---
layout: default
---

{% if page.h2_2 %}
<section class="wrapper">
  <h2>{{page.subtitle}}</h2>
  <hr>
  <blockquote>{{page.intro}}</blockquote>
  <div class="telefonos">
    <table>
      <thead>
        <td>🚌 EMPRESA DE BUSES</td>
        <td>☎ TELÉFONO</td>
      </thead>
      <tbody>
        {% for empresa in page.empresas %}
        <tr>
          {% for data in empresa %}
          <td><strong>{{data[0]}}</strong></td>
          <td>{{data[1]}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endif %}
<div class="add">{% include add1.html %}</div>

<main class="wrapper flow articulo">
  {% include add2.html %}
  {{content}}
  {% include add1.html %}
</main>

<div style="height: 150px; overflow: hidden">
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%; background-color: #fff"
  >
    <path
      d="M0.00,49.98 C393.62,171.22 289.21,70.56 508.17,104.13 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #9dc5bb"
    ></path>
  </svg>
</div>
<section class="conclusion wrapper">
  <h2>{{page.title}}</h2>
  {% include add1.html %}
  <ul>
    <li>
      <span>01</span>
      <h3>Contacto de la terminal</h3>
      <p>
        <span class="destacado">Para escribir o enviar comentarios</span>
        utiliza su
        <a
          href="{{page.contacto}}"
          rel="nofollow noopener noreferrer"
          target="_blank"
          >página de contacto.</a
        >
      </p>
    </li>
    <li>
      <span>02</span>
      <h3>Calificaciones</h3>
      <p>
        Conoce las
        <a
          href="https://goo.gl/maps/w4Q9s4cxd3FJgz639"
          rel="nofollow noopener noreferrer"
          target="_blank"
          >opiniones de los usuarios</a
        >
        sobre {{page.h1|downcase}}.
      </p>
    </li>
    <li>
      <span>03</span>
      <h3>Consejos para viajar</h3>
      <p>
        <a href="{{'blog'|relative_url}}">Aprende con nosotros</a> a viajar de
        forma segura y confiable por las terminales del país.
      </p>
    </li>
  </ul>
</section>

<a href="#">{% include boton-up.html %}</a>

{% include footer.html %}
